__pycache__/
*.py[cod]
*.sqlite3
*.log
.DS_Store
env/
venv/
*.env
*.pyproj
*.suo
*.user
*.userosscache
*.sln
*.swp
.idea/
.vscode/
output/
sessions/
temp/
uploads/
node_modules/
ui/jobs.db
ui/static/ezgif-15e359c27ada0a0c-jpg/
ui/static/Motion_graphics_media/*

ui/static/Motion_graphics_media_enhanced/
ss_*.png
*.pyc
